#FUSION PROCESSING
#Estimation Of Body Temperature

In [1]:
import numpy as numpy 
import statistics 
from statistics import variance 
numpy.random.seed(12345)
True_value = 37.5
n = 10
m = 20
s_1 = numpy.sqrt(1)
s_2 = numpy.sqrt(3)
Error1 = list(numpy.random.normal(loc=0, scale=s_1, size=n))
Error2 = list(numpy.random.normal(loc=0, scale=s_2, size=m))
s_1

1.0

In [2]:
s_2

1.7320508075688772

In [0]:
# sample 1 N(0, 1^2)
n = 10
Error1_mean = numpy.mean(Error1)
Error1_median = numpy.median(Error1)
Error1_var = numpy.var(Error1)

In [0]:
# sample 1 N(0, 3^2)
m = 20
Error2_mean = numpy.mean(Error2)
Error2_median = numpy.median(Error2)
Error2_var = numpy.var(Error2)

In [0]:
Local_meanx = float(True_value) +float(Error1_mean)

In [0]:
Local_meanx1 = numpy.abs((True_value -Local_meanx)/True_value ) * 100

In [0]:
Local_medianx = float(True_value) +float(Error1_median)

In [0]:
Local_medianx1 = numpy.abs((True_value -Local_medianx)/True_value ) * 100

In [0]:
Local_meany = float(True_value) +float(Error2_mean)

In [0]:
Local_meany1 = numpy.abs((True_value -Local_meany)/True_value ) * 100

In [0]:
Local_mediany = float(True_value) +float(Error2_median)

In [0]:
Local_mediany1 = numpy.abs((True_value -Local_mediany)/True_value ) * 100

In [13]:
print(f'Local meanx: {Local_meanx}, abs_meanx%: {Local_meanx1}, meany: {Local_meany}, abs_meany:{Local_meany1}, medianx: {Local_medianx}, abs_medianx:{Local_medianx1}, mediany: {Local_mediany}, abs_medianx: {Local_mediany1}')

Local meanx: 37.99483643982163, abs_meanx%: 1.319563839524354, meany: 37.94984167971598, abs_meany:1.1995778125759482, medianx: 37.88034474544388, abs_medianx:1.0142526545170085, mediany: 37.93639410879181, abs_medianx: 1.1637176234448248

In [14]:
Local_meanx1

1.319563839524354

In [15]:
Local_medianx1

1.0142526545170085

In [16]:
Local_meany1

1.1995778125759482

In [17]:
Local_mediany1

1.1637176234448248

In [0]:
from statistics import variance
#variance(sample1)

In [19]:
central_mean = numpy.mean([Local_meanx, Local_meany])
central_median = numpy.median([Local_medianx, Local_mediany])
#central_meanA = numpy.mean(central_mean)
#central_medianA = numpy.median(central_median)

print(f'centralized  mean: {central_mean}, centralized  median: {central_median}')

centralized  mean: 37.97233905976881, centralized  median: 37.90836942711785

In [0]:
central_meanXY = numpy.abs((True_value -central_mean)/True_value ) * 100

In [0]:
central_medianXY= numpy.abs((True_value - central_median)/True_value ) * 100

In [22]:
print(f'centralized abs_mean%: {central_meanXY}, centralized abs_median%: {central_medianXY}')

centralized abs_mean%: 1.259570826050151, centralized abs_median%: 1.0889851389809262

In [23]:
fusion_mean = (n/(n+m))*numpy.mean(Local_meany) + (m/(n+m))*numpy.mean(Local_meanx)
fusion_median = (n/(n+m))*numpy.median(Local_mediany) + (m/(n+m))*numpy.median(Local_medianx)
fusion_combination = (m/(n+m))*numpy.mean(Local_meanx) +(n/(n+m))*numpy.median(Local_mediany) 
print(f'fusion  mean: {fusion_mean}, median: {fusion_median}, combination: {fusion_combination}')

fusion  mean: 37.97983818645308, median: 37.899027866559855, combination: 37.975355662811694

In [24]:
fusion_meanXY= numpy.abs((True_value - fusion_mean)/True_value ) * 100
fusion_medianXY= numpy.abs((True_value - fusion_median)/True_value ) * 100
combinationXY= numpy.abs((True_value - fusion_combination)/True_value ) * 100
print(f'fusion abs_mean%: {fusion_meanXY}, abs_median%: {fusion_medianXY}, abs_combination%: {combinationXY}')

fusion abs_mean%: 1.2795684972082122, abs_median%: 1.0640743108262807, abs_combination%: 1.267615100831184

In [0]:
import pandas as pd

In [31]:
result5 = pd.DataFrame([(Local_meanx, Local_meany, central_mean, fusion_mean), (Local_meanx1, Local_meany1, central_meanXY, fusion_meanXY), (Local_medianx, Local_mediany, central_median, fusion_median), (Local_medianx1, Local_mediany1, central_medianXY ,fusion_medianXY)], columns=['local xi','local yi', 'centralized Estimate', 'fusion Estimate'], index=['Mean', 'abs_mean%', 'Median', 'abs_median%'])
result5

              local xi   local yi  centralized Estimate  fusion Estimate
Mean         37.994836  37.949842             37.972339        37.979838
abs_mean%     1.319564   1.199578              1.259571         1.279568
Median       37.880345  37.936394             37.908369        37.899028
abs_median%   1.014253   1.163718              1.088985         1.064074

In [32]:
result4 = pd.DataFrame([(fusion_combination), (combinationXY)], columns=['fusion Estimate'], index=['fusion_combination', 'abs_combinationXY'])
result4

                    fusion Estimate
fusion_combination        37.975356
abs_combinationXY          1.267615